<!DOCTYPE html>
<html lang="en">

<head>
    <style>

    </style>
</head>

<body>
    <!-- nav-->
    <div class="nav">
        <nav>
            {% if user.is_authenticated %}
            <a class="atag" aria-current="page" href="{% url 'home' %}">HOME</a>
            <a class="atag" href="{% url 'about_me' %}">ABOUT ME</a>
            <a class="atag" href="{% url 'new' %}">WRTIE BLOG</a>
            <a class="atag" href="{% url 'logout' %}">LOGOUT</a>
            <div class="line"></div>
            {% endif %}

            {% if not user.is_authenticated %}
            <a class="atag" href="{% url 'login' %}">LOGIN</a>
            <a class="atag" href="{% url 'signup' %}">SIGNUP</a>
            <div class="line"></div>
            {% endif %}
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>