{% extends 'base.html' %}

{% block content %}
<!--index-->
<div class="container">
    <div class="row my-3">
        <table class="table">
            <tr>
                <th scope="col">제목</th>
                <th scope="col">아이디</th>
                <th scope="col">작성일</th>
                <th scope="col">글</th>
            </tr>

            <div class="outer">
                {% for blog in blogs %}
                <tr>
                    <td>
                        <h6><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></h6>
                    </td>
                    <td>
                        <h6>{{blog.writer}} </h6>
                    </td>
                    <td>
                        <h6>{{blog.pub_date}}</h6>
                    </td>
                    <td>
                        <h6>{{blog.summary}}</h6>
                        <a href="{% url 'detail' blog.id %}">더보기</a>
                    </td>
                </tr>
                {%endfor%}
            </div>
        </table>
    </div>
</div>

{% endblock %}