{% extends 'base.html' %}

{% block content %}
<section class="cards">
    {% for blog in blogs %}
    <article class="vertical card">
        <div class="card_content">
            <div class="card_title">
                <a href="{% url 'detail' blog.id %}">{{blog.title}}</a>
                <!--title-->
            </div>
            <div class="card_writer">
                {{blog.writer}}
                <!--writer-->
                &nbsp;
                {{blog.pub_date}}
                <!--date-->
            </div>
            <div class="card_summary">
                {{blog.summary}}
                <!--summary-->
                <a href="{% url 'detail' blog.id %}">더보기</a>
            </div>
            <div>
                <!-- image-->
                {% if blog.image %}
                <img class="img-fluid rounded" src="{{blog.image.url}}" />
                {% endif %}
            </div>
        </div>
    </article>

    <article class="horizontal card">
        <div class="card_content">
            <div class="card_title">
                <a href="{% url 'detail' blog.id %}">{{blog.title}}</a>
                <!--title-->
            </div>
            <div class="card_writer">
                {{blog.writer}}
                <!--writer-->
                &nbsp;
                {{blog.pub_date}}
                <!--date-->
            </div>
            <div class="card_summary">
                {{blog.summary}}
                <!--summary-->
                <a href="{% url 'detail' blog.id %}">더보기</a>
            </div>
            <div>
                <!-- image-->
                {% if blog.image %}
                <img class="img-fluid rounded" src="{{blog.image.url}}" />
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}